.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.kotlin/errors/errors-1729579226131.log
/.kotlin/errors/errors-1729579400113.log
/.kotlin/errors/errors-1729580146629.log
/.kotlin/errors/errors-1729580364188.log
/.kotlin/errors/errors-1729580681822.log
/.kotlin/errors/errors-1729581816444.log
/.kotlin/errors/errors-1729581890361.log
/.kotlin/errors/errors-1729582020218.log
/dialog/docs/.swagger-codegen/VERSION
/dialog/docs/.swagger-codegen-ignore
/dialog/docs/index.html
